<!DOCTYPE html>
<html lang="en">
<!-- header-->
<% include partials/header.ejs %>



<!--site navigation-->
<% include partials/site-navigation.ejs %>


  <!-- user navigation-->
	<% include partials/user-navigation.ejs %>

	<div class="ver content">
         <a href="/index">Home</a><br>
  <p>Welcome to About us Page.<br>
    This page provides information about the shopping content<br>

  </p>
 </div>

<!-- footer-->
<% include partials/footer.ejs %>

</body>
</html>
