<!DOCTYPE html>
<html lang="en">
<!-- header-->
<% include partials/header.ejs %>




<!--site navigation-->
<% include partials/site-navigation.ejs %>


  <!-- user navigation-->
	<% include partials/user-navigation.ejs %>
  <div class="ver content">
  	<h4><a href="/index">Home</a> > contact </h4>
		<h3> Welcome to the Contact us page of Wallmart</h3>
<h3>Contact Us here!</h3>
<table>
    <tr>
        <td>Phone:</td><td>7049533055</td>
    </tr>
    <tr>
        <td>Email:</td><td>wallmart@uncc.edu</td>
    </tr>
    <tr>
        <td>Address:</td><td>UNC Charlotte</td>
    </tr>
</table>
</div>


<!-- footer-->
<% include partials/footer.ejs %>

</body>
</html>
