<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- header-->
<% include partials/header.ejs %>
  

<!--site navigation-->
<% include partials/site-navigation.ejs %>

<!-- user navigation-->
<% include partials/user-navigation.ejs %>


<div class="ver content">
  <h1>HOME PAGE</h1>

  <p>Welcome to Shopping site.This site provides a wide range of Items like books,Electronics and mens fashion.<br>

    Check out our new collection now.
  </p>
 </div>

<%include partials/footer.ejs%>

</body>
</html>
